* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 248, 249);
  font-family: Arial, Helvetica, sans-serif;
}
/* header */

header{
  height: 70px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: white;
}

#logo{
  width: 50px;
  height: 100%;
  vertical-align: middle;
}
#logo-text{
  vertical-align: middle;
  font-size: 25px;
  font-weight: 900;
  
  
}

/* /header */

/* main */


main.container{
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
}

.menu{
  padding: 20px;
  border-bottom: 5px solid rgb(246, 248, 249);
}

.add-task{
  background-color: rgb(71, 173, 241);
  padding: 8px 10px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid rgb(71, 173, 241);
}
.add-section{
  padding: 8px 10px;
  color: rgb(185, 185, 185);
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid rgb(185, 185, 185);
}

/* list */
ul li {
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 10px;
}
ul li h3{
  padding-bottom: 10px;
  font-weight: 800;
  color: rgb(77, 77, 77);
}
ul li span{
  font-weight: 600;
  color: rgb(94, 94, 94);
  
}

ul li h3::before{
  content: "\25BC";
  padding-right: 10px;
}

ul li span.checked::before{
  content: "\2714";
  font-size: 10px;
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
}

ul li span.unchecked::before{
  content: "\2573";
  font-size: 8px;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
}

.tag{
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  font-weight: 600;
}

.editorial{
  background-color: rgb(68, 170, 232);
}

.goals{
  background-color: rgb(156, 114, 228);
}

.recruiting{
  background-color: rgb(100, 192, 169);
}

.mobile{
  background-color: rgb(242, 158, 51);
}

.website{
  background-color: rgb(216, 99, 161);
}

.sales{
  background-color: rgb(176, 201, 38);
}


/* /list */

